.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}


.detail-container {
    background-color: #0f2a34;
    color: white;
    padding: 24px;
    border-radius: 16px;
    max-width: 700px;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.hidden {
    display: none;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 36px;
    padding: 10px 16px;
    cursor: pointer;
    z-index: 2001;
    border-radius: 50%;
    transition: background 0.2s;
}

.nav-arrow:hover {
    background: rgba(255, 255, 255, 0.5);
}

.nav-arrow.left {
    left: 20px;
}

.nav-arrow.right {
    right: 20px;
}




.type-border-fire { border: 3px solid #F08030; }   /* Feuer = Orange-Rot */
.type-border-water { border: 3px solid #6890F0; }  /* Wasser = Blau */
.type-border-grass { border: 3px solid #78C850; }
.type-border-electric { border: 3px solid #F8D030; }
.type-border-ice { border: 3px solid #98D8D8; }
.type-border-fighting { border: 3px solid #C03028; }
.type-border-poison { border: 3px solid #A040A0; }
.type-border-ground { border: 3px solid #E0C068; }
.type-border-flying { border: 3px solid #A890F0; }
.type-border-psychic { border: 3px solid #F85888; }
.type-border-bug { border: 3px solid #A8B820; }
.type-border-rock { border: 3px solid #B8A038; }
.type-border-ghost { border: 3px solid #705898; }
.type-border-dark { border: 3px solid #705848; }
.type-border-dragon { border: 3px solid #7038F8; }
.type-border-steel { border: 3px solid #B8B8D0; }
.type-border-fairy { border: 3px solid #EE99AC; }
.type-border-normal { border: 3px solid #A8A878; }